<div class="cutedge">
  <div class="border">
    <div class="content">
      <div class="homeiswherethewificonnects">
        <span>Home is where the</span>
        <mat-icon fontSet="fa" fontIcon="fa-wifi"></mat-icon>
        <span>connects</span>
      </div>

      <qrcode [qrdata]="wifi$ | async" [size]="256" [level]="'M'"></qrcode>

      <div class="wifi-data">
        <form [formGroup]="form" >
          <div class="wifi-data-input">
            <span class="title">SSID:</span>
            <mat-form-field>
              <input matInput formControlName="ssid">
            </mat-form-field>
          </div>
          <div class="wifi-data-input">
            <span class="title">Password:</span>
            <mat-form-field>
              <input matInput formControlName="password">
            </mat-form-field>
          </div>
        </form>
      </div>

      <div class="nfc-icon">
          <mat-icon>nfc</mat-icon>
      </div>
    </div>
  </div>
</div>

